<!-- your html code here -->
<div class="row margin">
    <div class="col" style="margin: 30px;">
<h2>PorFolio</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium modi non temporibus labore placeat ullam aliquid tempore? Hic obcaecati eveniet doloribus corrupti! Magnam, asperiores. Quos error asperiores hic libero incidunt.</p>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://loremflickr.com/700/400" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Proyect Name</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, asperiores facere, corporis, odio voluptate blanditiis at atque deleniti consectetur reprehenderit eius? Vel, cumque. Quos qui facere perspiciatis, voluptatum voluptates fugit!.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://loremflickr.com/700/400" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Proyect Name</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas laudantium aliquid saepe nisi quasi, adipisci natus repellendus quos ab numquam quidem tempora? Sequi exercitationem voluptates laborum quia fugit ad aut..</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://loremflickr.com/700/400" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Proyect Name</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum eaque labore et assumenda sequi dolor quam rem. Perspiciatis enim, nam architecto similique nesciunt facere voluptate aperiam dicta natus eius a..</p>
        </div>
      </div>
    </div>
</div>
  </div>
</div>